body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #282672;
  color: #a58080;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fffffff3;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 2em;
}

section {
  padding: 2em;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

h1 {

  font-size: xx-large;
  margin-top: 0;
  
}
h2 {
  font font-style: oblique;
  font-size: xx-large;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #1a1915;
  color: #d32020;
  padding: 1em;
  text-align: center;
  clear: both;
}
